
<div id="app">
  <nav class="navbar navbar-inverse">
    <a href="#" class="navbar-brand">Blue Whale</a>

    <ul class="nav navbar-nav" *ngIf="!isLoggedIn">

      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="nav navbar-nav" *ngIf="isLoggedIn">
      <li><a routerLink="/uploadFile">Charger DataBase</a></li>
      <li><a routerLink="/importExport">Import Export</a></li>
      <li><a routerLink="/faostats">Production</a></li>
      <li><a routerLink="/tableReference">Tables de références</a></li>
      <li *ngIf="showAdminBoard"><a routerLink="/admin">Admin</a></li>

      <li class="nav-item">
        <a href="/profile" class="nav navbar-nav" routerLink="profile"> Profile </a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>


